.edit-form__text-input {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1280px) {
  .edit-form__text-input {
    margin-bottom: 24px;
    padding: 8px 0;
  }
}
