.edit-form__submit-button {
  display: block;
  width: 100%;
  margin-top: 24px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  height: 46px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.edit-form__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 1280px) {
  .edit-form__submit-button {
    font-size: 18px;
    height: 50px;
  }
}
