.edit-form__submit-button {
  display: block;
  width: 100%;
  margin-top: 45px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  height: 46px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
}
