.element__like-button {
  background-color: #fff;
  border: none;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/icons/heart-default.svg);
  background-position: center;
  background-repeat: no-repeat;
}
