.edit-form__close-button {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/icons/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  right: 0;
  top: -36px;
}

@media screen and (min-width: 1280px) {
  .edit-form__close-button {
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
  }
}
