.element {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.element:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .element {
    max-width: calc(50% - 17px);
    margin-right: 17px;
  }

  .element:nth-child(2n) {
    margin-right: 0;
  }

  .element:last-child {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .element {
    max-width: 282px;
    margin-right: 17px;
  }

  .element:nth-child(2n) {
    margin-right: 17px;
  }

  .element:nth-child(3n) {
    margin-right: 0;
  }

  .element:last-child {
    margin-bottom: 20px;
  }
}
